
STVideoSDKSample/STVideoSDKSample.xcodeproj/project.xcworkspace/xcuserdata/DullFox.xcuserdatad/UserInterfaceState.xcuserstate

STVideoSDKSample/STVideoSDKSample.xcodeproj/xcuserdata/DullFox.xcuserdatad/xcschemes/STVideoSDKSample.xcscheme

STVideoSDKSample/STVideoSDKSample.xcodeproj/xcuserdata/DullFox.xcuserdatad/xcschemes/xcschememanagement.plist
